<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Top</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mystyle.css">
</head>

<body>
    <header class="header mb-4">
        <img src="../static/images/top_header.jpeg" alt="top image" class="img-responsive"></a>
        <p class="text-center">Johnny's Face</p>
    </header>
    <main>
        <h1 class="text-center mb-3">何ができるのか</h1>
        <p class="text-center mb-5">
            自分の顔がジャニーズ系の顔かどうかを3段階でAIが判定してくれます。
            <br>ジャニーズの人気メンバ20名の約2000枚の画像をAIに学習させました。
            <br>メディアで見かけない日はない『ジャニーズ』。
            <br>魅力的な彼らの顔には共通的な何かがあるはず。
            <br>あなたの顔も彼らに通じるものがあるかもしれません。
        </p>
        <h1 class="text-center mb-3">必要なもの</h1>
        <p class="text-center mb-5">
            自身の顔写真だけ
        </p>
        <h1 class="text-center mb-3">その他</h1>
        <p class="text-center mb-5">
            通信はSSL通信で暗号化されています。
            <br>登録・ダウンロード一切不要、無料です。
            <br>現在iPhoneは未対応です。
        </p>
        <div class="text-center">
            <button type="button" onclick="location.href='/upload'" class="btn btn-primary btn-lg mt-3 mb-5">Get Started</button>
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>
